#planets{
   color: white;
   }
header{
background-color:#000A78;
color: white;
width: 50%;
height: 200px;
}
body{
  background-color:#C9DAFF;
}
footer{
  background-color:#000A78;
  color: white;
  width: 50%;
  height: 200px;
}
table{
  color: white;
  width: 50%;
  height: 200px;
}
a:hover{
  color: red;
}
